/* Basic global styles */
body {
    font-family: 'Italiana', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.hero {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 200px 20px; /* Increased padding for hero section */
    overflow: hidden;
    height: 35vh; /* Full screen height */
}

#heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-container {
    z-index: 1;
}

.title {
    font-family: 'Italiana', serif;
    font-size: 48px; /* Adjust font size as necessary */
    margin: 0;
    text-transform: uppercase; /* All caps */
}

.slogan {
    font-size: 24px; 
    margin: 20px 0;
    text-transform: uppercase; 
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay-content a:hover {
    color: gold;
  }
  
  .closebtn {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .quote-btn,
  .footer-quote-btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .quote-btn:hover,
  .footer-quote-btn:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  .form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .form-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }





/* Picture blocks */
.picture-reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.picture-blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.picture-blocks img,
#centralVideo {
    width: 250px; /* Increased size for images */
    height: 350px; /* Increased height */
    object-fit: cover;
}

/* Reviews Section */
.client-reviews {
    text-align: center;
    margin-top: 50px;
  }
  
  .review-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

/* Fading animations */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}


@keyframes slide {
    0% { transform: translateX(100%); }
    20% { transform: translateX(0); }
    40% { transform: translateX(0); }
    60% { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
}

.hidden {
    display: none;
}

/* About Us Section */
.about-us {
    text-align: center;
    padding: 50px 20px;
}

.about-heading {
    color: gold;
    text-transform: uppercase; /* All caps */
    font-size: 28px; /* Adjust as needed */
}

.about-us p {
    color: black;
    margin: 20px 0; /* Increased spacing */
}

.about-us {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-us.fade-in {
    opacity: 1;
    transform: translateY(0);
}


/* Mission Section */
.mission {
    text-align: center;
    padding: 50px 20px;
}

.mission-heading {
    color: gold;
    text-transform: uppercase; /* All caps */
    font-size: 28px; /* Adjust as needed */
}

.packages {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.package {
    width: 250px;
    height: 350px; /* Increased height for better visibility */
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.package:hover {
    transform: scale(1.1) rotate(5deg); /* Slant and enlarge on hover */
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-image {
    width: 100%; /* Set size to fill container */
    height: auto ; /* Maintain aspect ratio */
}

.social-links img {
    width: 30px;
    margin: 0 10px;
}